<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/all.css}"/>

    <!--Bootstrap JS-->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!--HTMX-->
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap-icons.css}"/>

</head>
<body>
<div class="container" id="contentPage">
    <div id="header mb-0" class="">
        <div class="container">
            <div class="ml-0 mt-2">
                <div class="hs-toggles pb-0">
                    <a href="https://aniwatchtv.to/community/board" class="hst-item" data-toggle="tooltip" title="AniWatch Connect" hx-get="/anime" hx-trigger="click" hx-target="#contentPage" hx-swap="outerHTML">
                        <div class="name" style="font-size: 20px"><span>Anime</span></div>
                    </a>
                    <a href="https://aniwatchtv.to/community/board" class="hst-item" data-toggle="tooltip" title="AniWatch Connect"  hx-get="/nominations" hx-trigger="click" hx-target="#contentPage" hx-swap="outerHTML">
                        <div class="name" style="font-size: 20px"><span>Nominations</span></div>
                    </a>
                    <a href="https://aniwatchtv.to/community/board" class="hst-item" data-toggle="tooltip" title="AniWatch Connect"  hx-get="/add" hx-trigger="click" hx-target="#contentPage" hx-swap="outerHTML">
                        <div class="name" style="font-size: 20px"><span>Add</span></div>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <section layout:fragment="content">
        <p>Page content goes here</p>
    </section>
</div>

</body>
</html>