<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>HTMX-Demo</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <form class="input-group pb-3 pt-3"
              hx-target="#animes"
              hx-post="/anime/search"
              hx-headers='{"X-API-KEY": "xxxxxxx"}'
              hx-ext="json-enc"
                >
            <input type="text" class="form-control" name="search" placeholder="Search">
            <button class="btn btn-outline-secondary btn-dark" type="submit" id="searchButton">Search</button>
        </form>

        <div class="block_area-header block_area-header-tabs">
            <div class="float-left bah-heading mr-4">
                <h2 class="cat-heading" th:if="${searchTitle}">Search results for: <i th:text="${searchTitle}">mob psycho</i></h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab-content pt-1">
            <div class="block_area-content block_area-list film_list film_list-grid film_list-wfeature">
                <div class="film_list-wrap" id="animes">
                    <div th:each="a: ${anime}" class="flw-item">
                        <div class="film-poster">
                            <div class="tick ltr">
                                <div class="tick-item tick-eps" th:text="${a.getEpisodes()}">-1</div>
                            </div>

                            <img th:src="${a.getImageUrl()}" class="film-poster-img lazyload"
                                 alt="Mob Psycho 100">
                            <a style="cursor:pointer" class="film-poster-ahref item-qtip" title="Mob Psycho 100" data-id="101"><i
                                    class="fas fa-play" th:hx-get="'/anime?title=' + ${a.getTitle()}" hx-swap="outerHTML" hx-target="#contentPage"></i></a>
                        </div>
                        <div class="film-detail">
                            <h3 class="film-name">
                                <a style="cursor:pointer" th:text="${a.getTitle()}" title="Mob Psycho 100" class="dynamic-name"
                                                     data-jname="Mob Psycho 100" th:hx-get="'/anime?title=' + ${a.getTitle()}" hx-swap="outerHTML" hx-target="#contentPage">Mob Psycho 100</a></h3>
                            <div class="fd-infor">

                                <span class="fdi-item">TV</span>
                                <span class="dot"></span>
                                <span class="fdi-item fdi-duration">24m</span>
                                <span class="dot"></span>
                                <span class="fdi-item" th:text="${a.getEpisodes()} + ' episodes'"></span>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="pre-pagination mt-5 mb-5" bis_skin_checked="1">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg justify-content-center">
                            <li th:if="${currentPage} != 1" class="page-item"><a title="First" class="page-link" href="https://aniwatchtv.to/search?keyword=one%20piece&amp;page=3">«</a>
                            <li th:if="${currentPage} != 1" class="page-item"><a title="Previous" class="page-link" href="https://aniwatchtv.to/search?keyword=one%20piece&amp;page=3">‹</a>
                            <li th:if="${currentPage} - 2 >= 1 " class="page-item"><a title="Page" th:text="${currentPage - 2}" class="page-link" href="https://aniwatchtv.to/search?keyword=one%20piece&amp;page=2">1</a></li>
                            <li th:if="${currentPage} - 1 >= 1" class="page-item"><a title="Page" th:text="${currentPage - 1}" class="page-link" href="https://aniwatchtv.to/search?keyword=one%20piece&amp;page=3">2</a></li>
                            <li class="page-item active"><a class="page-link" th:text="${currentPage}"></a></li>
                            <li th:if="${currentPage} + 1 <= ${totalPages}" class="page-item"><a th:text="${currentPage + 1}" title="Page" class="page-link" href="https://aniwatchtv.to/search?keyword=one%20piece&amp;page=2">4</a></li>
                            <li th:if="${currentPage} + 2 <= ${totalPages}" class="page-item"><a th:text="${currentPage + 2}" title="Page" class="page-link" href="https://aniwatchtv.to/search?keyword=one%20piece&amp;page=3">5</a></li>
                            <li th:if="${currentPage} != ${totalPages}" class="page-item"><a title="Next" class="page-link" href="https://aniwatchtv.to/search?keyword=one%20piece&amp;page=2">›</a></li>
                            <li th:if="${currentPage} != ${totalPages}" class="page-item"><a title="Last" class="page-link" href="https://aniwatchtv.to/search?keyword=one%20piece&amp;page=3">»</a>
                        </li></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>